{% extends "helpers/layout.html" %}
{% block title %}About{% endblock %}
{% block body %}


        <div class="centering"><img src="/static/images/GrayLogo.png" alt="Code TA - The optimal code grader"><p>
Code TA is a web-based application used to automatically grade code developed by students for programming courses. Professors manage classes and assignments online using the Code TA website. Code is then uploaded, compiled, run, and evaluated by a Python-based server-side program, which returns a grade and feedback regarding any issues. Automating the grading process improves professor efficiency and student feedback.</p>

<p>To try it out, <a href="{{ url_for('join') }}">join us!</a></p>
</div>
{% endblock %}
