{% extends "helpers/layout.html" %}
{% block title %}Courses{% endblock %}
{% block body %}

<h2>{{g.user.username}}'s Courses</h2>
    <div id="user_courses">
        {% if courses %}
            <ul>
                {% for c in courses %}
		    <li><a href="/{{g.user.username}}/{{c.title}}"><lh>{{c.title}}</lh></a> | {{c.ident}}:{{c.section}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <span>You are not currently enrolled in any courses</span>
        {% endif %}
    </div>
{% if g.user.is_authenticated() and g.user.username == username %}
    <a href="{{ url_for('user_home', username=username) }}new"><button type="button" class="btn btn-default">Create a new course</button></a>
{% endif %}
{% endblock %}
