{% extends "helpers/layout.html" %}
{% block title %}Join{% endblock %}
{% block body %}

<h1>Welcome back!</h1>

{% if g.user.is_authenticated() %}
    <div id="user_courses">
        {% if courses %}
            <ul>
                {% for c in courses %}
                    <li>Course: {{ c.get('title') }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <span>You are not currently enrolled in any courses</span>
        {% endif %}
    </div>

{% endif %}
{% endblock %}
