{% extends "helpers/layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<h1>Create a course</h1>

{% if g.user.is_authenticated() %}
    {% if form %}
        <div id="course_create_window">
            <span class="window_title">Create a new course</span>
            {% from "helpers/_formhelpers.html" import render_field %}
            <form method="post" action="/{{ g.user.username }}/new">
                <dl>
                    {{ render_field(form.course_title) }}
                    {{ render_field(form.course_ident) }}
                    {{ render_field(form.course_section) }}
                    {{ render_field(form.course_description) }}
                    {{ form.hidden_tag() }}
                </dl>
                <input type="submit" value="Create">
            </form>
        </div>
    {% endif %}

{% endif %}
{% endblock %}
