{% extends "helpers/layout.html" %}
{% block title %}Change password{% endblock %}
{% block body %}
    <h2>Change your password</h2>
    {% from "helpers/_formhelpers.html" import render_field %}
    <form method="POST" action="{{ url_for('user_setting_password', username=username) }}">
        <dl>
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ form.hidden_tag() }}
        </dl>
        <input type="submit" value="Change password">
    </form>

{% endblock %}
